<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>

  <body>
    resetuj lozinku
    <a
      href='{{url}}/auth/password/reset?email={{email}}&token={{passwordToken}}'
    >
      {{url}}/auth/password/reset?email={{email}}&token={{passwordToken}}
    </a>
  </body>

</html>